@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafc;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: radial-gradient(
        rgba(56, 189, 248, 0.18) 1px,
        transparent 0
      ),
      radial-gradient(rgba(96, 165, 250, 0.12) 1px, transparent 0);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
  }
}
